@import url('https://fonts.googleapis.com/css?family=Nunito');
* {
    font-size: 25%;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: white;
}
.Header{
    color: blue;
    font-size: 30%;
    height: 10%;
}
.QuestionBox{
    height: 40%;
    background-color: blue;
    border-radius: 20%;
}
.Question{
    width: 80%;
    height: 100%;
}
Button {
    border-style: none;
    border-color: black;
    background-color: blue;
    height: 7%;
    border-radius: 90%;
}
